/*contenedor principal*/
.contact{
    width: 100%;
    min-height: 60svh;
    background: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
    padding-bottom: 1.5rem;
}

/*contenedor de imagen y dataulario*/
.contact_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}


/*contenedor logo*/
.contact_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

/*logo*/
.contact_logo img{
    width: 600px;
    height: auto;
}


/*contenedor data*/
.contact_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

/*contenedor titulo y texto*/
.contact_data-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    font-family: var(--font-text);
}

.contact_data-title h3{
    font-size: 3rem;
    color: var(--color-white);
}

.contact_data-title p{
    font-size: 1.5rem;
    max-width: 680px;
    color: var(--color-white);
}


/*contenedor formulario*/
.contact_data-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.contact_data-input form{
    display: flex;
    gap: 1rem;
    font-family: var(--font-text);
}

.contact_data-input input{
    width: 550px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;

}

.contact_data-input ::-webkit-input-placeholder{
    color: grey;
    font-size: 1.5rem;
    font-weight: 600;

}

/*contenedor principal redes sociales*/
.contact_data-socials{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    font-family: var(--font-text);
}

.contact_data-socials h3{
    font-size: 2rem;
    color: var(--color-white);
}


/*contenedor links redes sociales*/
.contact_data-socials--links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/*icons links*/
.contact_data-socials--links img{
    width: 70px;
    height: auto;
}


.contact_copy{
    height: 5svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: var(--font-text);
    color: var(--color-white);
}

.contact_copy p a{
    text-decoration: none;
    color: #ffe252;
}