/*contenedor principal*/
.home{
    width: 100%;
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(123deg, rgba(254, 75, 130, 1) 0%, rgba(242, 46, 198, 1) 100%);
    gap: 3rem;
}

/*contenedor de titulo, subtitulo y botones*/
.home_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    margin-left: 15rem;
}

.home_content h1{
    font-family: var(--font-title);
    font-size: 6rem;
    font-weight: 400;
    color: #fff;
}

.home_content p{
    font-family: var(--font-text);
    font-size: 2rem;
    font-weight: 500;
    max-width: 900px;
    color: #fff;
}

/*contenedor de botones*/
.home_content-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

/*contenedor de imagen*/
.home_img{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.home_img img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}