/*btn hamburguesa oculto*/
.burguer {
    display: none;
}

/*contenedor principal*/
.navbar{
    width: 100%;
    min-height: 8vh;
    background: var(--color-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
    position: fixed;
    z-index: 9;
}

/*logo hogar*/
.navbar_logo img{
    width: 180px;
    height: auto;
}

/*contenedor de links*/
nav{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

/*links*/
nav a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-text);
    color: #fff;
}

.link_orange:hover{
    transition: all ease-in-out 300ms;
    color: var(--color-orange);
}

.link_pink:hover{
    transition: all ease-in-out 300ms;
    color: var(--color-pink);
}

.link_light:hover{
    transition: all ease-in-out 300ms;
    color: var(--color-light);
}

.link_fuchsia:hover{
    transition: all ease-in-out 300ms;
    color: var(--color-fuchsia);
}

.link_violet:hover{
    transition: all ease-in-out 300ms;
    color: var(--color-violet);
}


/*diseño adaptable*/

/*DESTOCKS*/
@media only screen and (max-width:1440px){

    .navbar{
        padding: 1rem 4rem;
    }

    .navbar_logo img{
        width: 170px;
        height: auto;
    }

}

/*NOTEBOOKS*/
@media only screen and (max-width:1023px){

    .navbar{
        padding: 1rem 3rem;
    }

    .navbar_logo img{
        width: 160px;
        height: auto;
    }

    .links{
        gap: 0.5rem;
    }

}

/*TABLETS*/
@media only screen and (max-width:768px){

    .navbar{
        padding: 1rem;
        position: fixed;
        z-index: 9;
    }

    .navbar_logo img{
        width: 150px;
        height: auto;
    }

    nav{
        margin: 0 2rem;
    }

    .links{
        position: absolute;
        top: -700px;
        right: -2000px;
        text-align: center;
        margin-right: 1rem;
    }

    .links.active{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
        gap: 0.5rem;
        position: fixed;
        top: 70px;
        right: 0;
        background: var(--color-dark);
        padding: 0 0.5rem;
    }

    .links.active a{
      color: var(--color-white);
      padding: 0.5rem 1rem;
    }

    .links.active .link_orange:hover{
        transition: all ease-in-out 300ms;
        color: var(--color-orange);
    }
    
    .links.active  .link_pink:hover{
        transition: all ease-in-out 300ms;
        color: var(--color-pink);
    }
    
    .links.active  .link_light:hover{
        transition: all ease-in-out 300ms;
        color: var(--color-light);
    }
    
    .links.active .link_fuchsia:hover{
        transition: all ease-in-out 300ms;
        color: var(--color-fuchsia);
    }
    
    .links.active .link_violet:hover{
        transition: all ease-in-out 300ms;
        color: var(--color-violet);
    }
      
    .burguer{
        display: flex;
    }
}

/*SMARTH PHONES*/
@media only screen and (max-width:480px){

    .navbar_logo img{
        width: 140px;
        height: auto;
    }

    .links.active{
        top: 69px;
    }
}