/*contenedor principal*/
.portfolio{
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7rem 5rem;
    gap: 3rem;
    background: var(--color-white);
}

/*contenedor titulo y botones*/
.portfolio_content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

/*titulo*/
.portfolio_content h2{
    font-family: var(--font-title);
    font-size: clamp(2.5rem, -0.0714rem + 2.8571vw, 3.5rem);
    font-weight: 800;
    color: var(--color-dark);
}

/*contenedor botones*/
.portfolio_content-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/*botones*/
.portfolio_content-btn .btn{
    background: var(--color-pink);
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.portfolio_content-btn .btn_alt{
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.portfolio_content-btn .btn_alt:hover {
    color: var(--color-white);
    border-color: var(--color-white);
  }

.portfolio_content-btn .btn_alt:after {
    background: var(--color-pink);
}


.portfolio_content-btn .btn_alt:hover:before {
    background-color: var(--color-pink);
}

.portfolio_content-btn .btn_alt:hover:after{
    background-color: var(--color-pink);
}


/*contenedor grilla*/
.portfolio_works{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}

/*cajas*/
.box-portafolio {
    position: relative;
    width: min(100% - 0%, 800px);
    margin-inline: auto;
    height: auto;
    cursor: pointer;
}


 /*imagen de fondo*/
.box-portafolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
  
/*filtro sobre la imagen*/
.mask{
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(254, 136, 28, 0.8);
    transition: all 300ms ease-in;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 20px;
  }

/*link sobre el filtro para ir al portafolio*/
.mask a{
    font-family: var(--font-text);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    border: 2px solid #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: #fff;
  }
  
  .mask a:hover{
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: rgb(254, 136, 28);;
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
    font-weight: 900;
  }
  
  .box-portafolio:hover > .mask{
    opacity: 1;
    visibility: visible;
  }


/*diseño adaptable*/

/*DESTOCKS*/
@media only screen and (max-width:1440px){
    
    .portfolio{
        padding: 7rem 4rem;
        gap: 4rem;
    }

    .portfolio_content h2{
        font-size: clamp(2rem, 0.7734rem + 1.9185vw, 2.5rem);
    }

    .portfolio .btn, .portfolio .btn_alt{
        font-size: 1.1rem;
    }

    /*contenedor grilla*/
    .portfolio_works{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        gap: 3rem;
    }

    /*cajas*/
    .box-portafolio {
        width: min(100% - 0%, 600px);
        height: auto;
    }

}

/*NOTEBOOKS*/
@media only screen and (max-width:1023px){

    .portfolio{
        padding: 7rem 3rem;
        gap: 3rem;
    }
   
    .portfolio_content{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
   }

}

/*TABLETS*/
@media only screen and (max-width:768px){

    .portfolio{
        padding: 7rem 2rem;
        gap: 3rem;
    }

    .portfolio_content h2{
        font-weight: 700;
    }

    .portfolio_content-btn{
        gap: 0.5rem;
    }

     /*contenedor grilla*/
     .portfolio_works{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    /*cajas*/
    .box-portafolio {
        width: 100%;
        height: auto;
    }

    .portfolio .btn, .portfolio .btn_alt{
        font-size: 1rem;
    }

    .mask a{
        font-size: 1.1rem;
    }
}

/*SMARTH PHONES*/
@media only screen and (max-width:480px){

    .portfolio_content h2{
        font-size: 2rem;
       }
    
    .portfolio{
        padding: 7rem 1rem;
    }

    .portfolio_content-btn a{
        padding: 0.8rem;
    }
}   