.portfolio{
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7rem 5rem;
    gap: 5rem;
    background: var(--color-white);
}

.portfolio_content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.portfolio_content h2{
    font-family: var(--font-title);
    font-size: 4rem;
    font-weight: 400;
}

.portfolio_content-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.portfolio_content-btn .btn{
    background: var(--color-pink);
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.portfolio_content-btn .btn_alt{
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.portfolio_content-btn .btn_alt:hover {
    color: var(--color-white);
    border-color: var(--color-white);
  }

.portfolio_content-btn .btn_alt:after {
    background: var(--color-pink);
}


.portfolio_content-btn .btn_alt:hover:before {
    background-color: var(--color-pink);
}

.portfolio_content-btn .btn_alt:hover:after{
    background-color: var(--color-pink);
}


.portfolio_works{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    align-items: center;
    justify-items: center;
}

.box-portafolio {
    position: relative;
    width: min(100% - 10%, 600px);
    margin-inline: auto;
    height: auto;
    cursor: pointer;
}


 
.box-portafolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
  
.mask{
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(254, 136, 28, 0.8);
    transition: all 300ms ease-in;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 20px;
  }
  
  .mask a{
    font-family: var(--font-text);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    border: 2px solid #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: #fff;
  }
  
  .mask a:hover{
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: rgb(254, 136, 28);;
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
    font-weight: 900;
  }
  
  .box-portafolio:hover > .mask{
    opacity: 1;
    visibility: visible;
  }
