/*contenedor principal*/
.services{
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7rem 3rem;
    gap: 2rem;
    background: var(--color-white);
}

/*contenedor titulo y subtitulo*/
.services_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1.5rem;
}

.services_title h2{
    font-family: var(--font-title);
    font-size: clamp(2.5rem, -0.0714rem + 2.8571vw, 3.5rem);
    font-weight: 800;
    color: var(--color-dark);
}

.services_title p{
    font-family: var(--font-text);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    max-width: 60%;
}

/*contenedor de tarjetas*/
.services_card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

/*tarjetas*/
.card_services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 20px;
    background: var(--color-light);
    padding: 1rem;
    width: 420px;
    height: 400px;
}

/*iconos*/
.card_services img{
    width: 69px;
    height: auto;
}

/*titulo del servicio*/
.card_services h4{
    font-family: var(--font-text);
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

/*texto descriptivo*/
.card_services p{
    font-family: var(--font-text);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    max-width: 97%;
}


/*tarjeta novedades*/
.services_card-store{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-light);
    max-width: 1325px;
    min-height: 400px;
    padding: 1rem 1.5rem;
    border-radius: 25px;
}


.card-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.card-content h4{
    font-family: var(--font-text);
    color: var(--color-pink);
    font-size: 1.7rem;
    font-weight: 800;
}


.card-content h2{
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 600;
}

.card-content p{
    font-family: var(--font-text);
    font-size: 1.3rem;
}

.card-content .btn{
    background: var(--color-pink);
    color: #fff;
    font-size: 1.3rem;
}

.card-img{
    width: 350px;
    height: auto;
    border-radius: 25px;
}

.card-img img{
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*diseño adaptable*/

/*DESTOCKS*/
@media only screen and (max-width:1440px){

    .services{
        gap: 1.5rem;
    }
    
    /*contenedor de tarjetas*/
    .services_card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .services_title h2{
        font-size: clamp(2rem, 0.7734rem + 1.9185vw, 2.5rem);
    }
    
    .services_title p{
        font-size: 1.4rem;
        max-width: 700px;
    }
    
    .card_services h4{
        font-size: 1.6rem;
    }
    
    .card_services p{
        font-size: 1.1rem;
    }

    /*tarjetas*/
    .card_services{
        width: 380px;
        height: 380px;
    }

    /*tarjeta novedades*/
    .services_card-store{
        max-width: 780px;
        height: auto;
    }


    .card-content{
        width: 50%;
        gap: 0.5rem;
    }

    .card-content h4{
        font-size: 1.4rem;
        font-weight: 700;
    }


    .card-content h2{
        font-size: 1.9rem;
        line-height: 37px;
    }

    .card-content p{
        font-size: 1.1rem;
    }

    .card-content .btn{
        font-size: 1.1rem;
    }

    .card-img{
        width: 350px;
        height: auto;
    }

    .card-img img{
        border-radius: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

/*NOTEBOOKS*/
@media only screen and (max-width:1023px){

    /*contenedor principal*/
    .services{
        padding: 7rem 2rem;
    }

    .services_title p{
        font-size: 1.3rem;
    }
    
    .card_services h4{
        font-size: 1.4rem;
    }
    
    .card_services p{
        font-size: 1rem;
    }

    /*tarjetas*/
    .card_services{
        width: 350px;
        height: 350px;
    }

    /*tarjeta novedades*/
    .services_card-store{
        max-width: 725px;
        height: auto;
        gap: 1rem;
    }


    .card-content{
        width: 50%;
        gap: 0.5rem;
    }

    .card-content h4{
        font-size: 1.2rem;
        font-weight: 700;
    }


    .card-content h2{
        font-size: 1.7rem;
        line-height: 35px;
    }

    .card-content p{
        font-size: 1rem;
    }
}

/*TABLETS*/
@media only screen and (max-width:768px){

    /*contenedor principal*/
    .services{
        padding: 7rem 1rem;
    }

    .services_title{
        gap: 1rem;
    }

    .services_title h2{
        text-align: center;
        max-width: 350px;
        font-size: 2rem;
        font-weight: 700;
        line-height: 35px;
    }

    .card_services h4{
        font-size: 1.5rem;
    }

    .services_title p{
        font-size: 1.2rem;
        font-weight: 500;
        max-width: 450px;
    }

    /*contenedor de tarjetas*/
    .services_card-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .card_services p{
        font-size: 1.1rem;
    }

    /*tarjetas*/
    .card_services{
        width: 95%;
        height: 350px;
    }

    /*tarjeta novedades*/
    .services_card-store{
        flex-direction: column-reverse;
        max-width: 100%;
        height: auto;
        margin: 0 1rem;
        padding: 2rem;
    }


    .card-content{
        width: 100%;
        gap: 1rem;
    }

    .card-content h4{
        font-size: 1.5rem;
        font-weight: 700;
    }


    .card-content h2{
        font-size: 2rem;
        font-weight: 700;
        line-height: 37px;
    }

    .card-content p{
        font-size: 1.2rem;
    }

    .card-content .btn{
        font-size: 1.1rem;
    }

    .card-img{
        width: 100%;
        height: auto;
    }

    .card-img img{
        border-radius: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*SMARTH PHONES*/
@media only screen and (max-width:480px){

    .services_title h2{
        max-width: 100%;
        font-size: 1.8rem;
        line-height: 27px;
    }


    .services_title p{
        max-width: 95%;
    }

    /*tarjetas*/
    .card_services{
        width: 100%;
        height: 350px;
    }

    /*tarjeta novedades*/
    .services_card-store{
        margin: 0;
        height: auto;
        padding: 1rem;
    }
    
    .card-content h4{
        font-size: 1.3rem;
        font-weight: 700;
    }


    .card-content h2{
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 37px;
    }

    .card-content p{
        font-size: 1.1rem;
        font-weight: 500;
    }

    .card-content .btn{
        font-size: 1rem;
    }
}


